body {
  background-color: #2b7a78;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

@media all and (min-width: 850px) {
  a {
    color: #123c69;
    text-decoration: none;
    width: 30%;
    text-align: center;
    padding-left: 3%;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #3aafa8;
    width: 100%;
    margin: 0;
    font-size: 1em;
    height: 7%;
    top: 0;
    right: 0;
    left: 0;
  }

  .title {
    color: #123c69;
    margin-left: 3%;
    display: flex;
    align-items: center;
  }

  .zed {
    color: #950740;
    font-style: oblique;
    font-size: 2em;
  }

  .nav-div {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    gap: 3.33%;
    margin-right: -3%;
    font-size: 1.5rem;
  }

  .cat-div {
    display: flex;
    align-items: center;
    width: 30%;
  }

  .categories-list {
    color: #123c69;
  }

  .options {
    background-color: #2b7a78;
    height: 30px;
    color: #def2f1;
    font-size: 1rem;
    border: 2px solid #4e4e50;
  }

  .search {
    display: flex;
    align-items: center;
    width: 30%;
  }

  .search-input {
    border: none;
    background-color: #2b7a78;
    height: 30px;
    color: #def2f1;
  }

  .search-input::placeholder {
    color: #1a1a1d;
  }

  main {
    background-color: #2b7a78;
    width: 100%;
    margin-top: 3%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

  .series-div {
    /* background-color: #123c69; */
    display: block;
    height: 60%;
    padding-top: 0%;
    margin-top: 3%;
    width: 20%;
    margin-left: 4%;
  }

  .about-series {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5%;
    height: 100%;
    margin-top: -10%;
  }

  .about-series:hover {
    background-color: #123c6973;
  }

  .name {
    color: #def2f1;
    font-size: 2em;
  }

  .like-comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15%;
  }

  .like-div {
    width: 30%;
  }

  .likes {
    color: #def2f1;
    text-decoration: underline;
    margin-left: 10%;
  }

  .likes-icon {
    background-color: #2b7a78;
    color: #123c69;
    width: 80%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .comment-div {
    margin-right: 5%;
    width: 40%;
  }

  .comment {
    background-color: #2b7a78;
    color: #123c69;
    width: 100%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .comments-div {
    width: 50%;
    position: fixed;
    height: 75vh;
    background-color: #3aafa8;
    opacity: 1;
    font-size: 1em;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    color: #123c69;
    top: 10%;
    left: 25%;
    bottom: 5%;
  }

  .comment-close {
    font-size: 1.75rem;
    margin-left: 85%;
    margin-top: 3%;
  }

  .comment-header {
    margin-top: 0%;
    text-decoration: underline;
  }

  .comments-list {
    width: 60%;
    list-style-type: none;
    margin-top: -4%;
    height: 30vh;
    overflow-y: scroll;
    background-color: #2b7a78;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .comment-item {
    margin-top: 3%;
    background-color: #1a1a1d;
    width: 100%;
    margin-left: -8%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .comment-input {
    width: 30%;
    height: 5%;
    background-color: #2b7a78;
    border: none;
    margin-top: -2%;
    color: #def2f1;
  }

  .comment-input::placeholder {
    color: #def2f1;
  }

  .comment-text {
    width: 30%;
    height: 10%;
    border: none;
    background-color: #2b7a78;
    margin-top: -2%;
    color: #def2f1;
  }

  .comment-text::placeholder {
    color: #def2f1;
  }

  .comment-btn {
    background-color: #2b7a78;
    color: #123c69;
    border: none;
    height: 7%;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: -1%;
  }

  .comm {
    text-align: justify;
  }

  .series-info {
    width: 30%;
    position: fixed;
    height: 65vh;
    background-color: #3aafa8;
    font-size: 1em;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    color: #123c69;
    top: 15%;
    left: 35%;
  }

  .info-cancel {
    font-size: 1.75rem;
    margin-left: 85%;
    margin-top: 3%;
  }

  .info-header {
    text-decoration: underline;
  }

  .info {
    width: 70%;
    overflow-y: scroll;
    font-size: 1.5rem;
    height: 30vh;
  }

  .fa-circle-info {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    color: #2b7a78;
    margin-top: 2%;
    margin-right: 2%;
  }

  .series-img {
    height: 100%;
  }

  footer {
    background-color: #3aafa8;
    height: 15vh;
    display: flex;
    margin-top: 10%;
    bottom: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    right: 0;
    left: 0;
  }

  #cv {
    /* padding-top: 10%; */
    margin-left: 5%;
  }

  .cv-link {
    color: #123c69;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
  }

  .socials {
    width: 90%;
    margin-left: 5%;
    display: flex;

    /* margin-top: 10%; */
  }

  .social-link {
    width: 18%;
    color: #123c69;
  }

  .fa-brands {
    font-size: 25px;
  }
}

@media all and (max-width: 850px) {
  .nav-bar {
    display: none;
  }

  a {
    color: #123c69;
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #3aafa8;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    height: 10%;
    top: 0%;
    z-index: 98;
    left: 0;
    right: 0;
  }

  .mobile-nav-div {
    width: 100%;
    position: absolute;
    height: 70vh;
    top: 0;
    background-color: #3aafa8;
    font-size: 2em;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    color: #123c69;
  }

  .title {
    color: #123c69;
    margin-left: 3%;
    display: flex;
    align-items: center;
  }

  .zed {
    color: #950740;
    font-style: oblique;
    font-size: 2em;
  }

  .fa-bars {
    font-size: 2rem;
    margin-right: 5%;
    color: #123c69;
  }

  .mobile-cat-div {
    display: flex;
    padding-top: 5%;
  }

  .mobile-categories-list {
    color: #123c69;
  }

  .mobile-options {
    background-color: #2b7a78;
    height: 30px;
    color: #def2f1;
    font-size: 1rem;
    border: 2px solid #4e4e50;
  }

  .mobile-search {
    display: flex;
    align-items: center;
    width: 30%;
  }

  .mobile-search-input {
    border: none;
    background-color: #2b7a78;
    height: 40px;
    color: #def2f1;
  }

  .mobile-search-input::placeholder {
    color: #1a1a1d;
  }

  .fa-xmark {
    margin-top: 5%;
    margin-left: 90%;
  }

  main {
    background-color: #2b7a78;
    width: 100%;
    margin-top: 10%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0%;
  }

  .series-div {
    background-color: #123c69;
    height: 50%;
    padding-top: 0%;
    margin-top: 5%;
    width: 45%;
    margin-left: 3.3%;
  }

  .about-series {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5%;
    height: 100%;
    margin-top: 0%;
  }

  .about-series:hover {
    background-color: #123c6973;
  }

  .name {
    color: #def2f1;
    font-size: 2em;
  }

  .like-comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15%;
  }

  .like-div {
    width: 40%;
  }

  .likes {
    color: #def2f1;
    text-decoration: underline;
    margin-left: 10%;
  }

  .likes-icon {
    background-color: #2b7a78;
    color: #123c69;
    width: 80%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .comment-div {
    margin-right: 5%;
    width: 60%;
  }

  .comment {
    background-color: #2b7a78;
    color: #123c69;
    width: 100%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .comments-div {
    width: 70%;
    position: fixed;
    height: 80vh;
    background-color: #3aafa8;
    opacity: 1;
    font-size: 1em;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    color: #123c69;
    top: 15%;
    left: 15%;
  }

  .comment-close {
    font-size: 1.75rem;
    margin-left: 85%;
    margin-top: 3%;
  }

  .comment-header {
    margin-top: 0%;
    text-decoration: underline;
  }

  .comments-list {
    width: 60%;
    list-style-type: none;
    margin-top: -4%;
    height: 30vh;
    overflow-y: scroll;
    background-color: #2b7a78;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .comment-item {
    margin-top: 3%;
    background-color: #1a1a1d;
    margin-left: -16%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .comment-input {
    width: 30%;
    height: 5%;
    background-color: #2b7a78;
    border: none;
    margin-top: -2%;
  }

  .comment-input::placeholder {
    color: #def2f1;
  }

  .comment-text {
    width: 30%;
    height: 10%;
    border: none;
    background-color: #2b7a78;
    margin-top: -2%;
  }

  .comment-text::placeholder {
    color: #def2f1;
  }

  .comment-btn {
    background-color: #2b7a78;
    color: #123c69;
    border: none;
    height: 7%;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: -1%;
  }

  .comm {
    text-align: justify;
  }

  .series-info {

    width: 70%;
    position: fixed;
    height: 65vh;
    background-color: #3aafa8;
    font-size: 1em;


    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    color: #123c69;
    top: 15%;
    left: 15%;
  }

  .info-cancel {
    font-size: 1.75rem;
    margin-left: 85%;
    margin-top: 3%;
  }

  .info-header {
    text-decoration: underline;
  }

  .info {
    width: 70%;
    overflow-y: scroll;
  }

  .fa-circle-info {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    color: #2b7a78;
    margin-top: 2%;
    margin-right: 2%;
  }

  .series-img {
    height: 100%;
  }

  footer {
    display: flex;
    background-color: #3aafa8;
    height: 15vh;
    margin-top: 15%;
    bottom: 0;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
  }

  #cv {
    padding-top: 5%;
    margin-left: 5%;
    width: 30%;
  }

  .cv-link {
    color: #1a1a1d;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
  }

  .socials {
    width: 60%;
    margin-left: 5%;
    display: flex;
    margin-top: 5%;
  }

  .social-link {
    width: 18%;
    color: #1a1a1d;
  }

  .fa-brands {
    font-size: 25px;
  }

  .c {
    margin-top: 5%;
    margin-left: 11%;
  }
}
