body {
  background-color: #2B7A78;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

@media all and (min-width: 850px){
  a {
  color: #123C69;
  text-decoration: none;
  width: 30%;
  text-align: center;
  padding-left: 3%;
}

.mobile-nav {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #3AAFA8;
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
  height: 10%;
}

.title {
  color: #123C69;
  margin-left: 3%;
  display: flex;
  align-items: center;
}

.zed {
  color: #950740;
  font-style: oblique;
  font-size: 2em;
}

.nav-div {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  gap: 3.33%;
  margin-right: -3%;
}

.cat-div {
  display: flex;
  align-items: center;
  width: 30%;
}

.categories-list {
  color: #123C69;
}

.options {
  background-color: #2B7A78;
  height: 30px;
  color: #DEF2F1;
  font-size: 1rem;
  border: 2px solid #4E4E50;
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
}

.search-input{
  border: none;
  background-color: #2B7A78;
  height: 30px;
  color: #DEF2F1;
}

.search-input::placeholder {
  color: #1A1A1D;
}
}

@media all and (max-width: 850px){
  .nav-bar {
    display: none;
  }

  a {
    color: #123C69;
    text-decoration: none;
  }

  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #3AAFA8;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  height: 10%;
}

.mobile-nav-div {
  display: none;
  width: 100%;
  position: absolute;
  height: 70vh;
  top: 0;
  background-color: #3AAFA8;
  font-size: 2em;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  color: #123C69;
}

.title {
  color: #123C69;
  margin-left: 3%;
  display: flex;
  align-items: center;
}

.zed {
  color: #950740;
  font-style: oblique;
  font-size: 2em;
}

.fa-bars {
  font-size: 2rem;
  margin-right: 5%;
  color: #123C69;
}

.mobile-cat-div {
  display: flex;
  padding-top: 5%;
}

.mobile-categories-list {
  color: #123C69;
}

.mobile-options {
  background-color: #2B7A78;
  height: 30px;
  color: #DEF2F1;
  font-size: 1rem;
  border: 2px solid #4E4E50;
}

.mobile-search {
  display: flex;
  align-items: center;
  width: 30%;
}

.mobile-search-input {
  border: none;
  background-color: #2B7A78;
  height: 40px;
  color: #DEF2F1;
}

.mobile-search-input::placeholder {
  color: #1A1A1D;
}

.fa-xmark {
  margin-left: 90%;
}
}
